In [67]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, OneHotEncoder, LabelEncoder
import pandas as pd
import numpy as np

In [68]:
# Load the dataset into a DataFrame
data = pd.read_csv('Resources/heart_attack_predictions.csv')
data.head()

,Country,Age,Gender,Cholesterol_Level,Blood_Pressure,Smoking_History,Alcohol_Consumption,Physical_Activity,Obesity,Diabetes,...,LDL_Cholesterol,Triglycerides,Heart_Disease_Risk,Medication_Adherence,Urbanization_Level,Air_Pollution_Exposure,Access_To_Healthcare,Education_Level,Income_Level,Heart_Attack_Outcome
0,Germany,39,Male,210.091036,173.301650,Never,0.531933,Active,No,No,...,68.333573,165.060897,Medium,No,Urban,51.988416,Good,Tertiary,Low,Died
1,Egypt,88,Male,163.998730,137.381678,Former,5.626668,Sedentary,Yes,Yes,...,98.194015,452.124651,Medium,No,Suburban,97.739896,Good,NaN,Low,Died
2,Spain,60,Female,263.502590,139.737677,Former,0.928015,Active,No,Yes,...,118.767677,171.432620,Low,No,Urban,60.352793,Poor,Tertiary,Low,Survived
3,Canada,25,Female,292.003927,85.992807,Former,7.374519,Active,No,Yes,...,190.190597,329.553258,Medium,No,Urban,14.397347,Good,Secondary,High,Survived
4,France,54,Female,267.736563,119.882856,Former,4.317845,Sedentary,Yes,No,...,188.209372,449.953074,High,Yes,Rural,69.448684,Good,NaN,Low,Died

In [69]:
#data.columns

In [70]:
#data.dtypes

In [71]:
# Identify all object columns
object_columns = data.select_dtypes(include=['object']).columns.tolist()
print(f"Object columns: {object_columns}")

Object columns: ['Country', 'Gender', 'Smoking_History', 'Physical_Activity', 'Obesity', 'Diabetes', 'Family_History', 'Dietary_Habits', 'Heart_Attack_History', 'Chest_Pain', 'Exercise_Induced_Angina', 'Resting_ECG', 'Thalassemia', 'Heart_Disease_Risk', 'Medication_Adherence', 'Urbanization_Level', 'Access_To_Healthcare', 'Education_Level', 'Income_Level', 'Heart_Attack_Outcome']

In [72]:
Nominal_data = ['Country', 'Thalassemia']
Binary_Data = ['Gender', 'Obesity', 'Diabetes', 'Family_History', 'Heart_Attack_History', 'Chest_Pain','Exercise_Induced_Angina', 'Resting_ECG', 'Medication_Adherence', 'Heart_Attack_Outcome']
# Resting_ECG abnormal and normal rather than yes and no
Ordinal_Data = ['Smoking_History', 'Physical_Activity', 'Dietary_Habits', 'Heart_Disease_Risk', 'Urbanization_Level','Access_To_Healthcare', 'Education_Level', 'Income_Level' ]

In [73]:
#Create Ordinal Encoders:
smoking_encoder = OrdinalEncoder(categories=[['Current', 'Former', 'Never']])
activity_encoder = OrdinalEncoder(categories=[['Sedentary', 'Moderate', 'Active']])
dietary_encoder = OrdinalEncoder(categories=[['Unhealthy', 'Moderate', 'Healthy']])
heart_disease_risk_encoder = OrdinalEncoder(categories=[['Low', 'Medium', 'High']])
urbanization_encoder = OrdinalEncoder(categories=[['Urban', 'Suburban', 'Rural']])
access_to_healthcare_encoder = OrdinalEncoder(categories=[['Poor', 'Average', 'Good']])
#education_encoder = OrdinalEncoder(categories=[['Primary', 'Secondary', 'Tertiary']])
income_encoder = OrdinalEncoder(categories=[['Low', 'Medium', 'High']])

In [74]:
# Apply Ordinal Encoding to Ordinal Data
data['Smoking_History'] = smoking_encoder.fit_transform(data[['Smoking_History']])
data['Physical_Activity'] = activity_encoder.fit_transform(data[['Physical_Activity']])
data['Dietary_Habits'] = dietary_encoder.fit_transform(data[['Dietary_Habits']])
data['Heart_Disease_Risk'] = heart_disease_risk_encoder.fit_transform(data[['Heart_Disease_Risk']])
data['Urbanization_Level'] = urbanization_encoder.fit_transform(data[['Urbanization_Level']])
data['Access_To_Healthcare'] = access_to_healthcare_encoder.fit_transform(data[['Access_To_Healthcare']])
#data['Education_Level'] = education_encoder.fit_transform(data[['Education_Level']])
data['Income_Level'] = income_encoder.fit_transform(data[['Income_Level']])

In [75]:
#One-hot encode the Nominal_data:
data = pd.get_dummies(data, columns=['Country', 'Thalassemia'], drop_first=True)

In [76]:
# Label encode Binary_Data:
label_encoder = LabelEncoder()
binary_columns = ['Gender', 'Obesity', 'Diabetes', 'Family_History', 'Heart_Attack_History', 'Chest_Pain', 
                  'Exercise_Induced_Angina', 'Resting_ECG', 'Medication_Adherence', 'Heart_Attack_Outcome']

for col in binary_columns:
    data[col] = label_encoder.fit_transform(data[col])

In [77]:
# Scale numerical columns
# List of numerical columns 
numerical_columns = data.select_dtypes(include=[np.number]).columns.tolist()

# Apply scaling
scaler = StandardScaler()
data[numerical_columns] = scaler.fit_transform(data[numerical_columns])

In [78]:
print(f"Numerical columns: {numerical_columns}")

Numerical columns: ['Age', 'Gender', 'Cholesterol_Level', 'Blood_Pressure', 'Smoking_History', 'Alcohol_Consumption', 'Physical_Activity', 'Obesity', 'Diabetes', 'Family_History', 'Stress_Levels', 'Dietary_Habits', 'Heart_Attack_History', 'Chest_Pain', 'Exercise_Induced_Angina', 'Resting_ECG', 'Max_Heart_Rate_Achieved', 'HDL_Cholesterol', 'LDL_Cholesterol', 'Triglycerides', 'Heart_Disease_Risk', 'Medication_Adherence', 'Urbanization_Level', 'Air_Pollution_Exposure', 'Access_To_Healthcare', 'Income_Level', 'Heart_Attack_Outcome']

In [79]:
#Split the data into train & test sets:
y = data['Heart_Attack_Outcome']  

X = data.drop(columns=['Heart_Attack_Outcome', 'Education_Level'])
X = X.astype(float)

# Split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [80]:
X.dtypes

Age                              float64
Gender                           float64
Cholesterol_Level                float64
Blood_Pressure                   float64
Smoking_History                  float64
Alcohol_Consumption              float64
Physical_Activity                float64
Obesity                          float64
Diabetes                         float64
Family_History                   float64
Stress_Levels                    float64
Dietary_Habits                   float64
Heart_Attack_History             float64
Chest_Pain                       float64
Exercise_Induced_Angina          float64
Resting_ECG                      float64
Max_Heart_Rate_Achieved          float64
HDL_Cholesterol                  float64
LDL_Cholesterol                  float64
Triglycerides                    float64
Heart_Disease_Risk               float64
Medication_Adherence             float64
Urbanization_Level               float64
Air_Pollution_Exposure           float64
Access_To_Healthcare             float64
Income_Level                     float64
Country_Bangladesh               float64
Country_Brazil                   float64
Country_Canada                   float64
Country_China                    float64
Country_Egypt                    float64
Country_France                   float64
Country_Germany                  float64
Country_India                    float64
Country_Indonesia                float64
Country_Italy                    float64
Country_Japan                    float64
Country_Mexico                   float64
Country_Nigeria                  float64
Country_Pakistan                 float64
Country_Philippines              float64
Country_Russia                   float64
Country_Saudi Arabia             float64
Country_South Africa             float64
Country_South Korea              float64
Country_Spain                    float64
Country_Turkey                   float64
Country_United Kingdom           float64
Country_United States            float64
Country_Vietnam                  float64
Thalassemia_Normal               float64
Thalassemia_Reversible Defect    float64
dtype: object

In [81]:
X.head()

,Age,Gender,Cholesterol_Level,Blood_Pressure,Smoking_History,Alcohol_Consumption,Physical_Activity,Obesity,Diabetes,Family_History,...,Country_Saudi Arabia,Country_South Africa,Country_South Korea,Country_Spain,Country_Turkey,Country_United Kingdom,Country_United States,Country_Vietnam,Thalassemia_Normal,Thalassemia_Reversible Defect
0,-0.697687,1.000194,-0.342761,1.499293,1.225304,-1.547047,1.224179,-0.999414,-1.000364,1.000959,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.659034,1.000194,-1.407923,0.255335,-0.000287,0.216790,-1.224761,1.000586,0.999636,-0.999042,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.312336,-0.999806,0.891544,0.336927,-0.000287,-1.409920,1.224179,-0.999414,0.999636,-0.999042,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,-1.371036,-0.999806,1.550190,-1.524331,-0.000287,0.821910,1.224179,-0.999414,0.999636,1.000959,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.023758,-0.999806,0.989388,-0.350673,-0.000287,-0.236334,-1.224761,1.000586,-1.000364,-0.999042,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [82]:
heart_data = pd.read_csv('Resources/heart.csv')
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [83]:
heart_data.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [84]:
heart_data.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [85]:
# Create a Keras Sequential model and add more than one Dense hidden layer
import tensorflow as tf
nn_model = tf.keras.models.Sequential()

# Set the input nodes to the number of features
input_nodes = len(X.columns)

nn_model.add(tf.keras.layers.Dense(units=6, activation="relu", input_dim=input_nodes))

nn_model.add(tf.keras.layers.Dense(units=6, activation="relu"))

nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the Sequential model
nn_model.summary()

/opt/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_4"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_12 (Dense)                │ (None, 6)              │           318 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_13 (Dense)                │ (None, 6)              │            42 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_14 (Dense)                │ (None, 1)              │             7 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 367 (1.43 KB)

 Trainable params: 367 (1.43 KB)

 Non-trainable params: 0 (0.00 B)

In [86]:
X.dtypes

Age                              float64
Gender                           float64
Cholesterol_Level                float64
Blood_Pressure                   float64
Smoking_History                  float64
Alcohol_Consumption              float64
Physical_Activity                float64
Obesity                          float64
Diabetes                         float64
Family_History                   float64
Stress_Levels                    float64
Dietary_Habits                   float64
Heart_Attack_History             float64
Chest_Pain                       float64
Exercise_Induced_Angina          float64
Resting_ECG                      float64
Max_Heart_Rate_Achieved          float64
HDL_Cholesterol                  float64
LDL_Cholesterol                  float64
Triglycerides                    float64
Heart_Disease_Risk               float64
Medication_Adherence             float64
Urbanization_Level               float64
Air_Pollution_Exposure           float64
Access_To_Healthcare             float64
Income_Level                     float64
Country_Bangladesh               float64
Country_Brazil                   float64
Country_Canada                   float64
Country_China                    float64
Country_Egypt                    float64
Country_France                   float64
Country_Germany                  float64
Country_India                    float64
Country_Indonesia                float64
Country_Italy                    float64
Country_Japan                    float64
Country_Mexico                   float64
Country_Nigeria                  float64
Country_Pakistan                 float64
Country_Philippines              float64
Country_Russia                   float64
Country_Saudi Arabia             float64
Country_South Africa             float64
Country_South Korea              float64
Country_Spain                    float64
Country_Turkey                   float64
Country_United Kingdom           float64
Country_United States            float64
Country_Vietnam                  float64
Thalassemia_Normal               float64
Thalassemia_Reversible Defect    float64
dtype: object

In [87]:
y.dtypes

dtype('float64')

In [88]:
y.head()

0   -1.000252
1   -1.000252
2    0.999748
3    0.999748
4   -1.000252
Name: Heart_Attack_Outcome, dtype: float64

In [ ]:
# Compile the model and train over more than ### epochs
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

fit_model = nn_model.fit(X_train, y_train, epochs=5)

Epoch 1/10
14603/14603 ━━━━━━━━━━━━━━━━━━━━ 699s 47ms/step - accuracy: 0.0000e+00 - loss: 0.0301
Epoch 2/10
 7969/14603 ━━━━━━━━━━━━━━━━━━━━ 7:26 67ms/step - accuracy: 0.0000e+00 - loss: -0.0572

In [ ]:
results = nn_model.evaluate(np.array(X_test), {
    'department_output': department_encoded_test, 
    'attrition_output': attrition_encoded_test

})
results